<div class="bg-green-grad">
      <div class="screen-sectionv2 bg-black">
         <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
               <h1 class="txt-green page-title header gradient-text" style="padding-top: 5vw">Witness the power of mentorship</h1>
               <h3 class="txt-white page-title">Our mission is to provide personalized mentorship for students in all STEM subjects. Unlike a typical classroom where one teacher must educate a class of thirty students who all learn differently, Mentree solves this challenge by pairing mentees to suitable mentors, fostering personalized education and learning.</h3>

               <h3 class="txt-green page-title header gradient-text" style="padding-top: 5vh">Mentors</h3>

               <h3 class="txt-white page-title">Mentors are like watering cans - they nurture and help grow plants (in this case, mentees) by providing their advice and knowledge. </h3>

               <h3 class="txt-green page-title header gradient-text" style="padding-top: 5vh">Mentees</h3>

               <h3 class="txt-white page-title">Mentees are like sprouts - they absorb the water from the watering can in order to grow their skills and understanding. </h3>

            </div>
            <div class="col-sm-1">
            </div>
         </div>
      </div>
   </div>