<div class="bg-green-grad">
      <div class="screen-sectionv2 bg-black">
         <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
               <h1 class="txt-green page-title header gradient-text center" style="padding-top: 5vw">Computer Science Tutors</h1>
            </div>
            <div class="col-sm-1">
            </div>
         </div>

         <div class="row" style="margin-top: 5vh;">
         	<div class="col-sm">
         		<a href="/math">
		         	<div class="container rounder">
		         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
						  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 3vw">Mr. Example</h1>
						  <p class = "center" style="color: white; font-size: 1.5vw">Hello I am a grade 12 sutdent from school and I specialize in computer science</p>
						  <img class="center" style="max-width:35%; max-height:35%" src="/assets/austin-eller.jpg">
						  <button onclick="location.href = '';" class="btn btn-lrg btn-black center" style="margin-top: 2vw" >Book Me</button>
						</div>
					</div>
				</a>
         	</div>
         	<div class="col-sm">
         		<a href="/math">
		         	<div class="container rounder">
		         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
						  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 3vw">Mr. Example</h1>
						  <p class = "center" style="color: white; font-size: 1.5vw">Hello I am a grade 12 sutdent from school and I specialize in compouter science</p>
						  <img class="center" style="max-width:35%; max-height:35%" src="/assets/austin-eller.jpg">
						  <button onclick="location.href = '';" class="btn btn-lrg btn-black center" style="margin-top: 2vw" >Book Me</button>
						</div>
					</div>
				</a>
         	</div>
         	<div class="col-sm">
         		<a href="/math">
		         	<div class="container rounder">
		         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
						  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 3vw">Mr. Example</h1>
						  <p class = "center" style="color: white; font-size: 1.5vw">Hello I am a grade 12 sutdent from school and I specialize in computer science</p>
						  <img class="center" style="max-width:35%; max-height:35%" src="/assets/austin-eller.jpg">
						  <button onclick="location.href = '';" class="btn btn-lrg btn-black center" style="margin-top: 2vw" >Book Me</button>
						</div>
					</div>
				</a>
         	</div>
         </div>

     </div>
</div>
