<div class="bg-green-grad">
      <div class="screen-sectionv2 bg-black">
         <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
               <h1 class="txt-green page-title header gradient-text center" style="padding-top: 5vw">Stem Subjects</h1>
               <h3 class="txt-white page-title center">Mentree is more than just an educational platform. Mentree is a way of life - a way of growth and transformation - from a seed to a plant.</h3>
            </div>
            <div class="col-sm-1">
            </div>
         </div>

         <div class="row" style="margin-top: 5vh;">
         	<div class="col-sm">
         		<a href="/math">
		         	<div class="container rounder">
		         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
						  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 4vw">Mathematics</h1>
						  <p class = "center" style="color: white; font-size: 2vw">The Study of Numbers, Quantities, and Space</p>
						  <img class="center" style="max-width:40%; max-height:40%" src="/assets/relativity.svg">
						</div>
					</div>
				</a>
         	</div>
         	<div class="col-sm">
         		<a href="/chemistry">
	         	<div class="container rounder">
	         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
					  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 4vw">Chemistry</h1>
					  <p class = "center" style="color: white; font-size: 2vw">The Study of Matter and the Changes it Undergoes</p>
				  		<img class="center" style="max-width:40%; max-height:40%" src="/assets/test-tube.svg">
					</div>
				</div>
				</a>
         	</div>
         	<div class="col-sm">
         		<a href="/biology">
	         	<div class="container rounder">
	         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
					  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 4vw">Biology</h1>
					  <p class = "center" style="color: white; font-size: 2vw">The Study of Life</p>
  					  <img class="center" style="max-width:40%; max-height:40%" src="/assets/virus.svg">
					</div>
				</div>
			</a>
         	</div>
         </div>

         <div class="row" style="margin-top: 5vh;">
         	<div class="col-sm">
         		<a href="/physics">
	         	<div class="container rounder">
	         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
					  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 4vw">Physics</h1>
					  <p class = "center" style="color: white; font-size: 2vw">The Study of Matter, Motion, Eneregy, and Force</p>
  					  <img class="center" style="max-width:40%; max-height:40%" src="/assets/physics.svg">
					</div>
				</div>
				</a>
         	</div>
         	<div class="col-sm">
         		<a href="/computerscience">
	         	<div class="container rounder">
	         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
					  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 2.5vw">Computer Science</h1>
					  <p class = "center" style="color: white; font-size: 2vw">The Study of Computation and Information</p>
  					  <img class="center" style="max-width:40%; max-height:40%" src="/assets/computer.svg">
					</div>
				</div>
				</a>
         	</div>
         	<div class="col-sm">
         		<a href="/statistics">
	         	<div class="container rounder">
	         		<div class="container" style=" margin-left: 0vw; margin-right: 0vw; margin-top: 2vw">
					  <h1 class="center" style="color: white; padding-top: 1vw; font-size: 4vw">Statistics</h1>
					  <p class = "center" style="color: white; font-size: 2vw">The Study of the Collection, Analysis, and Interpretation of Data</p>
  					  <img class="center" style="max-width:40%; max-height:40%" src="/assets/search.svg">
					</div>
				</div>
			</a>
         	</div>
         </div>

     </div>
</div>